.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3.65rem;

    
   
}

.about > h2{
    margin-bottom: 90px;

}

.about > p {
    width: 70%;
    text-align: right;
    margin-bottom: 38px;
}
